html {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  max-width:  1440px;
  margin: auto;
  padding: 0 32px;

  @media (max-width: 940px) {
    padding:  0 16px;
  }
}


.header__block {
  color: $fontColor;
  margin-bottom: 16px;

  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }

  @media (max-width: 940px) {
    margin-bottom: 8px;

    h1 {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
