$bgColor: rgba(255, 254, 251, 0.8);
$fontColor: #3F3F3F;
$formBgColor: #FFFEFB;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$darkLesser: #49485E;
$grey500: #B4B4B4;
$redColor: #FF8484;
$disabled: #EEEEEE;
$buttonColor:  #7BAE73;
