.main {
  padding: 32px 0;
  background-color: $bgColor;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    position: relative;
  }

  &__form {
    grid-column: 1 / 5;
    position: sticky;
    top: 0;
    left: 0;
  }

  &__products {
    grid-column: 5 / 17;
  }

  &__products-sorting {
    margin-bottom: 16px;
  }

  &__products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
  }
}
