.main {
  padding: 32px 0;
  background-color: $bgColor;

  .wrapper {
    display: grid;
    grid-template-columns: 332px repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;

    @media (max-width: 940px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__form {
    grid-column: 1 / 2;
    position: relative;

    .form {
      position: sticky;
      top: 32px;
      left: 0;
    }
  }

  &__products {
    grid-column: 2 / 14;
  }

  &__products-sorting {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
  }

  &__products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @media (max-width: 1240px ) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 940px) {
      margin-bottom: 24px;
    }
    @media (max-width: 420px) {
      grid-template-columns:  1fr;
    }
  }
}
